body

{
	background-color: white;
}

.container
{
	width: 1350px;
	background-color: #313b3d;
	
}
.raw
{
	width: 650px;
	float: left;
	
}
.raw img
{
	padding-left: 30px;
	
}
.raw1 p
{
	width: 680px;
	float: right;
	text-align: right;
	padding-right: 20px;
	font-weight: bold;
	color: white;
}
.header
{
	background-color: white;
	width: 1350px;
	align-content: center;
	text-align: center;
	float: right;


}

.header a
{	
	padding-right: 30px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;

}
.slider
{
	width: 1350px;
}
.slider img
{
	width: 1350px;
	height: 300px;
}
.wrap
{
	width: 1300px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;

}

.footer
{
	background-color: 313b3d;
	width: 1350px;
}

.footer1
{
	background-color: 313b3d;
	width: 400px;
	padding-left: 40px;
	float: left;
}

.footer1 a
{
	padding-left: 20px;
}
.footer2
{
	background-color: 313b3d;
	width: 400px;
	float: left;
	align-content: center;
	text-align: center;
	margin-bottom: 20px;
}

.footer3
{
	background-color: 313b3d;
	width: 200px;
	float: left;
	align-content: center;
	margin-left: 200px;

}
.footer3 img
{
    height: 20PX;
    width: 20PX;
    margin-left: 30px;
}


