a
{
	color: green;
	text-decoration:underline;
	font-family: sans-serif;
}
h1
{
	color: orange;
	text-decoration:underline;
	font-family: sans-serif;
}
img
{
	height: 100px;
	width: 500px;
}

.wrap
{
	width: 500px;
	margin: auto;
	border: 1px solid black;
}

li
{
	nth-child(3){
		color:orange;
	}	
}